body {
background-color:lightgray;
}

h1 {
color:darkred;
font-family:'Courier New', Courier, monospace;
background-color:beige;
border:1px solid black;
padding: 25px;
}

p {
color:rgb(116, 72, 72);
}

h2 {
font-family:'Courier New', Courier, monospace;
background-color:rgb(199, 166, 166);
border:1px solid white;
padding:10px;
}

img {
border: 3px solid black;
width:30%;
height:30%;
margin-left:200px;
}